html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

form {
    display: flex;
    align-self: center;
    align-content: center;
    background-color: aliceblue;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex: 0 1 0;
    background-color: whitesmoke;
    width: 50%;
    text-align:center;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
h1, h2, h3{
    text-align:center;
    color:snow;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#genreListContainer, #AddedGenresContainer {
    height: auto;
    width:80%;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: none;
}
#AddedGenresContainer {
    display: inline-block;
    min-height: 50px;
}
.addingContainer {
    position: relative;
}
.genreButton {
    margin: 2px 4px 2px 4px;
    padding: 1px 1px 1px 1px;
    height: 40px;
    width: fit-content;
}
.formLabel {
    display: inline-block;
}
.addButton {
    display: inline;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.formRowContainer {
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 5px 5px 5px 5px;
    width: 100%;
}
.tableContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tableNode{
    height: 300px;
    margin: 10px 5px 10px 5px;
    width: 150px;
}
.nodeImage{
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 150px;
}
.inNodeInfo{
    height: 270px;
}

/*Movie info window styles*/
.movieInformationLeftBlock {
    margin: 0px;
}
.movieInformationRightBlock {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
}
.movieInfoImage{
    width: 100%;
    height: auto;
    display: block;
}