<a asp-controller="Movies" asp-action="Add">Movies</a>
<br />
<a asp-controller="Actors" asp-action="Add">Add actor</a>
<br />
<a asp-controller="Actors" asp-action="Index">All actors</a>
<br />
<a asp-controller="Users" asp-action="Add">Add user</a>
<br />
<a asp-controller="Users" asp-action="Index">All users</a>
<br />
<a asp-controller="Halls" asp-action="Add">Add hall</a>
<br />
<a asp-controller="Halls" asp-action="Index">All halls</a>

