<div class="container-links">
    <div>
        <div class="links">
            <a asp-controller="Movies" asp-action="Index">All movies</a>
            <a asp-controller="Actors" asp-action="Index">All actors</a>
            <a asp-controller="Users" asp-action="Add">Add a user</a>
        </div>
    </div>
</div>
