
@model MovieAddViewModel
<h1>Input movie information</h1>
<form asp-action="Add" id="AddMovieForm" method="post">
	@* <div>
		<label asp-for="Movie.Title">Title</label>
		<input asp-for="Movie.Title">
		<span asp-validation-for="Movie.Title"></span>
	</div>
	<div>
		<label asp-for="Movie.Description">Description</label>
		<input asp-for="Movie.Description">
		<span asp-validation-for="Movie.Description"></span>
	</div>
	<div>
		<label asp-for="Movie.Year">Year</label>
		<input asp-for="Movie.Year" type="number">
		<span asp-validation-for="Movie.Year"></span>
	</div>
	<div>
		<label asp-for="Movie.Rating">Rating</label>
		<input asp-for="Movie.Rating" type="number">
		<span asp-validation-for="Movie.Rating"></span>
	</div>
	<div>
		<label asp-for="Movie.TrailerLink">TrailerLink</label>
		<input asp-for="Movie.TrailerLink" type="url">
		<span asp-validation-for="Movie.TrailerLink"></span>
	</div>
	<div>
		<label asp-for="Movie.ThumbnailLink">ThumbnailLink</label>
		<input asp-for="Movie.ThumbnailLink" type="url">
		<span asp-validation-for="Movie.ThumbnailLink"></span>
	</div> *@
	<div id="AddingGenreContainer" class="formRowContainer">
		<label for="Genres" class="formLabel">Genres</label>
		<div class="GenreListContainer"></div>
		<span for="Genres"></span>
		<div class="addingContainer">
			<div id="AddedGenresContainer">
			</div>
			<button id="addGenre" type="button" class="addButton">+</button>
		</div>
		<div id="genreListContainer">
			@foreach (var genre in Model.Genres)
			{
			<button class="genreButton" , id="@genre.GenreName" type="button", action="">@genre.GenreName</button>
			}
		</div>
	</div>
		<div>
			<button type="submit">Add</button>
		</div>
</form>

@section Scripts
{
    <script type="text/javascript">
		//addGenre button click. It displays genre list. If list is already displayed - it will hede it
			$("#addGenre").click(function()
		{
			if(document.getElementById("genreListContainer").style.display != "inline-block"){
				document.getElementById("genreListContainer").style.display = "inline-block";
			}
			else{
				document.getElementById("genreListContainer").style.display = "none";
			}
		});
		//Supposed, that elements is already sorted in alphabetic order
		function appendChildInAlphabeticOrder(parentElement, childElement){
			if( parentElement.childElementCount == 0 ||
			parentElement.children[parentElement.childElementCount - 1].textContent
				.localeCompare(childElement.textContent) == -1
			){
				parentElement.appendChild(childElement);
				return;
			}
			for(i = 0; i < parentElement.childElementCount; i++){
					if(parentElement.children[i].textContent
				.localeCompare(childElement.textContent) == 1){
					parentElement.insertBefore(childElement, parentElement.children[i]);
					return;
				}
			}
		}
		var genreButtons = document.getElementsByClassName("genreButton");
		//Add genre to genre list
		for(var i = 0; i < genreButtons.length; i++){
			genreButtons[i].addEventListener("click", 
			function (e){
				if(e.target.parentElement.id == "genreListContainer")
				{
					appendChildInAlphabeticOrder(document.getElementById("AddedGenresContainer"),e.target);
				}
				else
				{
					appendChildInAlphabeticOrder(document.getElementById("genreListContainer"),e.target);
				}
			});
		}
	</script>
}