@model List<BusinessLogic.DTOs.MovieDTO>
@{
	<div class="tableContainer">
		@foreach (var movie in Model)
		{
			<div class="tableNode" , id=@movie.Id>
				<div class="inNodeInfo">
					<img src=@movie.ThumbnailLink alt="photo" id="image" class="nodeImage" />
					<br />
					<label>@(@movie.Title)</label>
					<br />
					<label>@(@movie.Year)</label>
				</div>				
			</div>
		}
	</div>
}
