@model BusinessLogic.DTOs.CinemaHallDTO
@{
	<h1>Input hall information</h1>
	<form asp-action="Add" id="AddMovieForm" method="post" , style="text-align: center">
		<div class="formRowContainer">
			<label asp-for="Places_columns_amount">Columns amount</label>
			<input asp-for="Places_columns_amount" type="number" class="form-control" required>
			<span asp-validation-for="Places_columns_amount"></span>
		</div>
		<div class="formRowContainer">
			<label asp-for="Places_rows_amount">Rows amount</label>
			<input asp-for="Places_rows_amount" type="number" class="form-control" required>
			<span asp-validation-for="Places_rows_amount"></span>
		</div>
		<button type="submit" class="btn btn-primary">Add hall</button>
	</form>
}
