@model List<BusinessLogic.DTOs.CinemaHallDTO>
@{
	foreach(var hall in Model){
		<div>
			<p>hall number: @hall.Id<p/>
			<p>hall size: @hall.Places_rows_amount rows @hall.Places_columns_amount columns</p>
		</div>
	}
}
z