@model List<BusinessLogic.DTOs.CinemaHallDTO>
@{
    <div id="hallForm">
        @foreach (var hall in Model)
        {
            <div class="cinema-hall-card">
                <p>Hall Number: @hall.Id</p>
                <p>Hall Size: @hall.Places_rows_amount rows, @hall.Places_columns_amount columns</p>
            </div>
        }
    </div>
}
