@model BusinessLogic.DTOs.ActorDTO
@{
    const string imagePlaceholderUrl = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png";
}
<h1>Input actor information</h1>
<form asp-action="Add" id="AddMovieForm" method="post">		
	<div class="formRowContainer">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" required>
		<span asp-validation-for="Name"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="Surname">Surname</label>
		<input asp-for="Surname" class="form-control" required>
		<span asp-validation-for="Surname"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="BirthYear">BirthYear</label>
		<input asp-for="BirthYear" type="number" class="form-control" required>
		<span asp-validation-for="BirthYear"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="PhotoUrl">PhotoUrl</label>
		<input asp-for="PhotoUrl" type="url" id="PhotoUrl" class="form-control" required>
		<span asp-validation-for="PhotoUrl"></span>
	</div>
	<div class="formRowContainer">
			<img id="imgActors" src="@imagePlaceholderUrl" alt="photo" width="100" id="image" />
	</div>
	<div>
			<button type="submit">Add actor</button>
	</div>
</form>

@section Scripts
{
    <script type="text/javascript">
        $("#PhotoUrl").change(function () {
            const value = $(this).val();
            setImage(value);
        });

        function setImage(imageUrl) {
            if (imageUrl == '') {
                imageUrl = '@imagePlaceholderUrl';
            }
            $("#image").attr('src', imageUrl);
        }
    </script>
}


