@model BusinessLogic.DTOs.UserDTO

<h1>Input user information</h1>
<form asp-action="Add" id="AddMovieForm" method="post" style="text-align: center" onsubmit="return validatePasswords()">
	<div class="formRowContainer">
		<label asp-for="UserName">Name</label>
		<input required asp-for="UserName">
		<span asp-validation-for="UserName"></span>
	</div>

	<div class="formRowContainer">
		<label asp-for="PasswordHash">Password</label>
		<input asp-for="PasswordHash" id="password" type="password" name="PasswordHash" minlength="8" required
			   title="Пароль повинен містити принаймні 8 символів.">
		<span id="passwordErrorLenght" style="color:red;display:none;">Пароль повинен містити принаймні 8 символів.</span>
		<span asp-validation-for="PasswordHash"></span>
	</div>

	<div class="formRowContainer">
		<label>Confirm Password</label>
		<input id="confirmPassword" type="password" required>
		<span id="passwordError" class="text-danger" style="display:none;">Паролі не співпадають</span>
	</div>

	<div class="formRowContainer">
		<label asp-for="Email">Email</label>
		<input asp-for="Email" required type="email>
		<span asp-validation-for="Email"></span>
	</div>
	<div style="margin-top: 5px; margin-bottom: 5px">
		<button type="submit">Add</button>
	</div>
</form>



@section Scripts {
	<script>
		function validatePasswords() {
			const password = document.getElementById('password').value;
			const confirmPassword = document.getElementById('confirmPassword').value;
			const errorSpan = document.getElementById('passwordError');

			if (password !== confirmPassword) {
				errorSpan.style.display = 'block';
				return false;
			} else {
				errorSpan.style.display = 'none';
				return true;
			}
		}
	</script>
}


