@model BusinessLogic.DTOs.UserDTO

<h1>Input user information</h1>
	<form asp-action="Add" id="AddMovieForm" method="post", style="text-align: center">		
	<div class="formRowContainer">
		<label asp-for="UserName">Name</label>
		<input asp-for="UserName">
		<span asp-validation-for="UserName"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="PasswordHash">Password</label>
		<input asp-for="PasswordHash">
		<span asp-validation-for="PasswordHash"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="Email">Email</label>
		<input asp-for="Email">
		<span asp-validation-for="Email"></span>
	</div class="formRowContainer">
	<div>
		<label asp-for="IsAdmin">Admin?</label>
		<input asp-for="IsAdmin" type="checkbox">
		<span asp-validation-for="IsAdmin"></span>
	</div class="formRowContainer">
	
	<div style="margin-top: 5px; margin-bottom: 5px">
			<button type="submit">Add</button>
	</div>
</form>


