@model BusinessLogic.DTOs.UserDTO

<h1>Input user information</h1>
<form asp-action="Add" id="AddMovieForm" method="post" style="text-align: center" onsubmit="return validatePasswords()">
	<div class="formRowContainer">
		<label asp-for="UserName">Name</label>
		<input required  class="form-control" asp-for="UserName">
		<span asp-validation-for="UserName"></span>
	</div>

	<div class="formRowContainer">
		<label asp-for="PasswordHash">Password</label>
		<input asp-for="PasswordHash" id="password" class="form-control" type="password" name="PasswordHash" minlength="8" required
			   title="Password has to be at least 8 characters long">
		<span id="passwordErrorLenght" style="color:red;display:none;">Password has to be at least 8 characters long</span>
		<span asp-validation-for="PasswordHash"></span>
	</div>

	<div class="formRowContainer">
		<label>Confirm Password</label>
		<input id="confirmPassword" class="form-control"  type="password" required>
		<span id="passwordError" class="text-danger" style="display:none;">Passwords don`t match</span>
	</div>

	<div class="formRowContainer">
		<label asp-for="Email">Email</label>
		<input asp-for="Email" type="email" class="form-control" required>
		<span asp-validation-for="Email"></span>
	</div>
	<div class="formRowContainer">
		<label asp-for="Role">Role</label>
		<select asp-for="Role" class="form-control">
			<option value="User">User</option>
			<option value="Admin">Admin</option>
		</select>
	</div>

	<div>
			<button type="submit" class="btn btn-primary">Add user</button>
	</div>
</form>



@section Scripts {
	<script>
		function validatePasswords() {
			const password = document.getElementById('password').value;
			const confirmPassword = document.getElementById('confirmPassword').value;
			const errorSpan = document.getElementById('passwordError');

			if (password !== confirmPassword) {
				errorSpan.style.display = 'block';
				return false;
			} else {
				errorSpan.style.display = 'none';
				return true;
			}
		}
	</script>
}


