@model List<BusinessLogic.DTOs.UserDTO>
@{
	<div id="userForm">
		@foreach(var user in Model){
            <div class="user-card">
                <label>@user.UserName</label>
                <label>@user.Email</label>
                <label>@((user.Role == "Admin") ? "Admin" : "User")</label>
            </div>
		}
	</div>

}
